#login-form, #registration-form {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 59px;
}


input:focus {
    outline: none;
}

.loginInput {
    position: absolute;
    left: 10%;
    font-size: 1.2em;
    width: 80%;
    border: 0;
    border-bottom: 2px solid #4d4d4d;

}

#loginUsername {
    top: 30%;
}

#loginPassword {
    top: 47%;
}

#loginButton {
    position: absolute;
    left: 37%;
    top: 60%;
    color: white;
    width: 26%;
    background-color: #3E5C76;
    font-size: 1.3em;
    font-weight: bold;
    padding: 4px;
    text-align: center;

}

.loginLabel {
    position: absolute;
    left: 10%;
    width: 30%;
    color: #3E5C76;
    font-size: 1.2em;
    font-weight: bold;
    border-bottom: 0;
    transform: translate(0, 90%);
    transition: all 0.3s;
    z-index: 1000;

}

#loginLabelUsername {
    top: 26%;
}

#loginLabelPassword {
    top: 43%;
}


#regLabelName {
    top: 12.5%;
}

#user-name {
    top: 16%;
}

#regLabelLastname {
    top: 24.5%;
}

#user-lastname {
    top: 28%;
}

#regLabelUsername {
    top: 36.5%;
}

#user-username {
    top: 40%;
}

#regLabelBday {
    top: 48.5%;
    font-size: 1em;
    transform: translate(0, 0);
}

#user-birthDate {
    top: 52%;
}

#regLabelPassword {
    top: 60.5%;
}

#user-password {
    top: 64%;
}


#regButton {
    position: absolute;
    left: 37%;
    top: 76%;
    color: white;
    width: 26%;
    background-color: #3E5C76;
    font-size: 1.3em;
    font-weight: bold;
    padding: 4px;
    text-align: center;
}

#usernameError {
    position: absolute;
    left: 35%;
    top: 36.5vh;
    color: #C1292E;
}