#bottomBar {
    display: block;
    width: 100%;
    height: 7vh;
    background-color: #ffffff;
    position: fixed;
    top: 93vh;
    border-top: 0.3vh solid #333333;
}

.bottomSvg {
    position: absolute;
    width: 9%;
    margin-left: 11%;
    fill: #a0a0a0;
}

.bottomBtn {
    padding: 1vh 0 1vh 0;
    display: inline-block;
    width: 33.333333%;
    height: 6vh;
}