.debtClass {
    position: relative;
    display: block;
    width: 100%;
    height: 8vh;
    background-color: white;
    border-bottom: 2px solid #333333;

}

.debtClass:last-child {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.debtClass:hover {
    background-color: #dcdcdc;
}

.img {
    position: absolute;
    width: 4.5vh;
    top: 20%;
    left: 1%;
    fill: white;
}

#imgContainer, #nameContainer, #amountContainer, #expireContainer {
    display: inline-block;
    height: 8vh;


}

#imgContainer {
    box-sizing: border-box;
    width: 6vh;
    background-color: #3F826D;
    border-bottom-left-radius: inherit;
    height: 8vh;
    border-bottom: 2px solid #333333;
    border-right: 2px solid #333333;
}

#nameContainer {
    width: 32%;
    margin-left: 2%;

}

#amountContainer {
    width: 30%;
    margin-left: 2%;
}

#expireContainer {
    width: 15%;
    margin-left: 2%;
    /*margin-left: 65%;*/

}

#name, #amount, #expire {
    position: absolute;
    font-family: 'arial', serif;
    font-weight: bold;
    line-height: 9vh;
    color: #4d4d4d;
}

#name {
    width: 26%;
    font-size: 1.1em;
    margin-left: 2vw;
}

#amount {
    width: 22.95%;
    font-size: 1.4em;
}

#expire {
    line-height: 9.5vh;
    font-size: 1em;
}

#debtOrientationIcon {
    position: absolute;
    width: 40px;
    left: calc(50% - 20px);
    top: 18%;
    fill: #3F826D;
}


.youContainer, .nameContainer {
    position: absolute;
    width: 50%;
    top: 20%;
    text-align: center;
    font-size: 1.2em;
}

.youContainer {
    left: 50%;
}

.nameContainer {
    left: 0;
}

.amountContainer {
    position: absolute;
    display: block;
    width: 100%;
    text-align: center;
    top: 35%;
    left: 0;
    font-size: 1.3em;
    font-weight: bold;

}

.debtDate {
    position: absolute;
    display: block;
    left: 75%;
    top: 2%;
    color: #7f7f7f;
    font-size: 0.8em;
}

.detail {
    position: absolute;
    display: block;
    width: 100%;
    text-align: center;
    font-size: 0.8em;
    top: 50%;
    left: 0;

}

.debtExpire {
    position: absolute;
    display: block;
    width: 100%;
    text-align: center;
    top: 75%;
    left: 0;
    font-weight: bold;
}

.debtLocation {
    position: absolute;
    display: block;
    width: 100%;
    text-align: center;
    top: 90%;
    left: 0;
    color: #ffc600;
}

.debt:hover {
    background-color: #7f7f7f;
}

#debtEdit, #debtDelete, #debtComment {
    position: absolute;
    width: 33%;
    top: 90%;
    overflow: hidden;
}

#debtEdit {
    left: 0;
}

#debtDelete {
    left: 33.3%;
}

#debtComment {
    left: 66.6%;
}

.debtInfoButton {

    width: 30px;
    /*margin-left: 35%;*/
    margin-left: calc(50% - 15px);
    fill: #333333;

}

.debtInfoButton:hover {
    fill: #3E5C76;
}

.tagContainer {
    position: absolute;
    top: 0;
    left: 0;
    width: 70%;
    height: 16%;
    overflow: hidden;
    padding: 2%;
}

.tag {
    display: inline-block;
    margin-right: 5%;
    font-size: 0.9em;
    color: #3E5C76;
}

.stateContainer {
    position: absolute;
    display: block;
    top: 0px;
    right: 5px;
    color: #3F826D;
    font-weight: bold;
    font-size: 0.8em;
}