#header {
    display: block;
    width: 100%;
    height: 8vh;
    background-color: #3E5C76;
    border-bottom: 0.3vh solid #333333;
    margin-bottom: 12%;
}

#header {
    color: #ffffff;
    font-family: 'arial', serif;
    font-weight: bold;
    font-size: 2em;
    text-align: center;
}