.formField {
    position: absolute;
    left: 15%;
    font-size: 1.2em;
    width: 70%;
    border: 0;
    border-bottom: 1.5px solid #4d4d4d;
}

.input-participant-container {
    display: flex;
    flex-direction: row;
    position: absolute;
    left: 15%;
    top: 30%;
    font-size: 1.2em;
    width: 70%;
    border: 0;
    border-bottom: 1.5px solid #4d4d4d;
}

.input-place-container {
    display: flex;
    flex-direction: row;
    position: absolute;
    left: 15%;
    top: 60%;
    font-size: 1.2em;
    width: 70%;
    border: 0;
    border-bottom: 1.5px solid #4d4d4d;
    margin-top: 7px;
}


.inputParticipant {
    flex-direction: row;
    align-items: center;
    background-color: #edf0f5;
    color: #020e25;
    padding: 3px 13px;
    margin: 2px;
    border-radius: 20px;
    position: relative;
}

.inputPlace {
    flex-direction: row;
    align-items: center;
    background-color: #edf0f5;
    color: #020e25;
    padding: 3px 13px;
    margin: 2px;
    border-radius: 20px;
    position: relative;
}

.input-tags-container {
    display: flex;
    flex-direction: row;
    position: absolute;
    left: 15%;
    top: 68%;
    font-size: 1.2em;
    width: 70%;
    border: 0;
    border-bottom: 1.5px solid #4d4d4d;
}

.input-tag {
    flex-direction: row;
    align-items: center;
    background-color: #edf0f5;
    color: #020e25;
    padding: 3px 13px;
    margin: 2px;
    border-radius: 20px;
    position: relative;
}

.input-field-participant {
    border-width: 0px;
    border: none;
    bottom: 1px;
    position: relative;
}


.input-field-tag {
    border-width: 0px;
    border: none;
    bottom: 1px;
    position: relative;
}

.input-field-place {
    border-width: 0px;
    border: none;
    bottom: 1px;
    position: relative;
}

.tag-selected {
    display: flex;
    margin-right: 3px;
}

.cancel-container {
    border-radius: 2px;
}



#create {
    position: absolute;
    width: 30%;
    left: 35%;
    background-color: #3E5C76;
    font-size: 1.3em;
    font-weight: bold;
    color: white;
    top: 80%;
}

.items-container {
    position: absolute;
    width: 70%;
    top: 35%;
    left: 15%;
    color: #4d4d4d;
    background-color: rgba(255, 255, 255, 0.8);
    background-color: white;
    border: 2px solid #828282;
    z-index: 1000;
    display: none;
}

.tags-container {
    position: absolute;
    width: 70%;
    top: 72%;
    left: 15%;
    color: #4d4d4d;
    background-color: rgba(255, 255, 255, 0.8);
    background-color: white;
    border: 2px solid #828282;
    z-index: 1000;
    display: none;
}

.place-container {
    position: absolute;
    width: 70%;
    top: 66%;
    left: 15%;
    color: #4d4d4d;
    background-color: rgba(255, 255, 255, 0.8);
    background-color: white;
    border: 2px solid #828282;
    z-index: 1000;
    display: none;
}


.dropdown-item {
    border: 3px solid rgb(41, 39, 39);
    position: relative;
}

#debtName {
    top: 22%;
}

#debtOrientation {
    top: 30%;
    display: none;
}

#debtChel {
    top: 38%;
}

#famount {
    top: 38%;
}

#deadline {
    top: 46%;
    color: #333333;
}


#detail {
    top: 54%;
}

#place {
    top: 61%;
}

#tag {
    top: 68%;
}

#debtOrientationLabel {
    position: absolute;
    width: 70%;
    left: 15%;
    top: 20%;
    padding: 2%;
}

#iBorrow, #iLend {
    position: absolute;
    width: 30%;
    text-align: center;
    font-size: 1.1em;
    color: #333333;


}

#iBorrow {
    left: 0;
}

#iLend {
    right: 0;
}

#debtOrientationAnim {
    position: absolute;
    width: 64px;
    left: calc(50% - 33px);
    height: 28px;
    border-radius: 10em;
    border: 2px solid #333333;
}

#debtOrientationAnimCircle {
    position: absolute;
    top: 2px;
    left: 3px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #3E5C76;
    transition: 0.3s;

}
