#body, .debtContainer {
    background-color: #ffffff;
}

.debtContainer {
    display: block;
    width: 86%;
    border: 2px solid #333333;
    border-radius: 7px;
    margin-bottom: 4vh;
    margin-left: 7vw;
    border-bottom: 0;
}

.debtContainerName {
    font-family: 'arial', serif;
    color: #ffffff;
    width: 100%;
    font-weight: bold;
    font-size: 1.5em;
    text-align: center;
    background-color: #3E5C76;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    height: 6vh;
    border-bottom: 2px solid #333333;

}


.placeHolder {
    display: block;
    width: 100%;
    height: 8vh;
    top: 93vh;
}

#popupCont {
    display: none;
    position: fixed;

}

#popup {
    position: absolute;
    width: 80%;
    height: 55vh;
    background-color: white;
    top: 15vh;
    left: 10%;
    border: 2px solid #333333;
    border-radius: 7px;
}

#bc {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(224, 224, 224, 0.39);
}

#popupContent {
    display: block;
}

#popupMessage {
    display: none;
}

.closePopupNested {
    position: absolute;
    top: 0;
    right: 0;
    background-color: #3E5C76;
}

#closeIcon {
    position: absolute;
    width: 25px;
    top: 10px;
    right: 10px;
    fill: #333333;
}

#messagesContainer {
    position: absolute;
    width: 90%;
    bottom: 5%;
    left: 5%;
    height: 60%;
    overflow-y: scroll;

}

#messagesContainer p {
    margin-left: 5%;
    border-left: 5px solid #3E5C76;
    border-bottom: 1px solid #7f7f7f;
}

#newMessage {
    position: absolute;
    width: 70%;
    top: 15%;
    left: 5%;
    height: 15%;
    padding-top: 20px;
    border: 0;
    border-bottom: 2px solid #333333;
}

input:focus {
    outline: none;
}

#sendIcon {
    position: absolute;
    width: 25px;
    top: 20%;
    right: 40%;
    fill: #3E5C76;

}

#send {
    position: absolute;
    width: 18%;
    top: 18%;
    height: 12%;
    right: 0;
}

.message {
    width: 90%;
    border-left: 4px solid #3E5C76;
    padding-left: 4%;
    margin-top: 6px;
}

.messageSender {
    display: inline-block;
    width: 70%;
    font-size: 0.8em;
    font-weight: bold;
}

.messageDate {
    display: inline-block;
    width: 30%;
    right: 0;
    font-size: 0.7em;
}

.debtState {
    position: absolute;
    display: block;
    width: 24%;
    left: 75%;
    top: 7%;
    text-align: center;
}


#totalContainer {
    margin-left: 4%;
    padding-left: 2%;
    /*top: 12%;*/
    width: 50%;
    font-weight: bold;
    font-size: 1.1em;
    margin-bottom: 0;
    /*border-left: 3px solid #333333;*/
    /*border-radius: 7px;*/
    /*position: absolute;*/
    /*left: 30%;*/
    /*top: 10%;*/
    /*width: 40%;*/
    /*font-family: 'arial', serif;*/
    /*color: #3F826D;*/
    /*font-weight: bold;*/
    /*font-size: 2em;*/
    /*text-align: center;*/
}

#totalAmountContainer {
    display: inline-block;
    color: #3F826D;
    font-size: 1.2em;
}

.radioBtns {
    display: none;
}

#downTriangle {
    position: absolute;
    width: 30px;
    top: 12%;
    left: 7%;
}


#upTriangle {
    position: absolute;
    width: 30px;
    top: 12%;
    left: calc(7% + 30px);
    transform: rotate(180deg);
    fill: #333333;
}

#rCircle, #gCircle, #rgCircle {
    position: absolute;
    width: 9.5vw;
    height: 9.5vw;
    top: 12%;
    border-radius: 50%;
}

#rgCircle {
    left: 68%;
    background-color: #3F826D;

}

#rgCircle2 {
    position: absolute;
    width: 9.5vw;
    left: 68%;
    background-color: #C1292E;
    height: 4.75vw;
    top: calc(12% + 4.75vw);
    border-bottom-left-radius: 4.75vw;
    border-bottom-right-radius: 4.75vw;
    /*transform: rotate(-45deg);*/
}

#gCircle {
    left: 78%;
    background-color: #3F826D;
}

#rCircle {
    left: 88%;
    background-color: #C1292E;
}

#down:checked + label > .sortTriangle {
    fill: #3E5C76;
}

#up:checked + label > .sortTriangle {
    fill: #3E5C76;
}


#all:checked + label > .labelCircle {
    border: 3px solid #4d4d4d;
}

#all:checked + label > #rgCircle2 {
    border: 3px solid #4d4d4d;
    border-top: 0;
}

#loans:checked + label > .labelCircle {
    border: 3px solid #4d4d4d;
}

#debts:checked + label > .labelCircle {
    border: 3px solid #4d4d4d;
}


