.user {
    display: block;
    width: 80%;
    height: 7vh;
    margin-top: 2vh;
    border-bottom: 2px solid #333333;
    margin-left: 10%;
}

.innerContainer {
    display: inline-block;
    margin-top: 2vh;
    height: 5vh;
    color: #333333;
}

#userNumber {
    width: 15%;
}

#userName {
    width: 55%;
    font-size: 1.2em;
    font-weight: bold;
}

#userTotal {
    width: 30%;
    font-size: 1.2em;
    font-weight: bold;
    color: #3F826D;
}
